<%= form_for(@project, :url => create_project_users_path, :html => { :method => :post, :class => 'form-horizontal' }, :validate => true) do |f| %>
    <%#= render 'shared/error_messages' , :object => f.object%>
    <div class="control-group">
      <%= f.label :name, "Name of the Project", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :domain_url, "Domain URL", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :domain_url %>
        <span class="help-inline">(e.g. http://example.com)</span>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit "Create Project", :class => 'btn btn-primary' %>
    </div>
<% end %>