<div class="span9">
  <section class="page-header">
    <h1>Projects on Analytics</h1>
  </section>
  <% if @projects.any? %>
      <table class="table table-striped">
        <thread>
          <tr>
            <th>Project Name</th>
            <th>Domain Name</th>
            <th>Domain_URL</th>
            <th>Actions</th>
          </tr>
        </thread>
        <tbody>
        <% @projects.each do |project| %>
            <tr>
              <td><%= project.name %></td>
              <td><%= project.domain %></td>
              <td><%= project.domain_url %></td>
              <td>
                <%= link_to "View", user_path(user), class: "btn btn-mini" %>
                <%= link_to "Delete", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, class: "btn btn-mini btn-danger" %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% else %>
    <div class="well well-large">
      There are no users registered yet!
    </div>
  <% end %>
</div>
