<h1>Dashboard</h1>
<hr>
<ul class="nav nav-tabs">
  <li class="active"><a href="#new_project">Add new project</a></li>
  <li><a href="#all_projects">My Projects</a></li>
  <li><a href="#assign_users">Assign Users</a></li>
</ul>
 
<div class="tab-content">
  <div class="tab-pane active" id="new_project">
  	<%= render partial: 'new_project', 
  			:locals => { :project => @project } 
	%>
  </div>
  <div class="tab-pane" id="all_projects">

  </div>
  <div class="tab-pane" id="assign_users">
  	<%#= render partial: 'assign_project_users' %>
    <%= form_tag(assign_project_users_from_dashboard_index_path, :method => "post", :id => "assign_project_users") do %>
      <%= label_tag(:user_project, "Project") %>
      <%= text_field_tag(:user_project) %>
      <%= label_tag(:project_users, "Users") %>
      <%= text_field_tag(:project_users, nil, :rel => @user_list ) %>
      <div class="form-actions">
        <%= submit_tag("Assign Users", :class => 'btn btn-primary') %>
      </div>
    <% end %>

  </div>
</div>
 