<ul class="nav nav-tabs">
  <li class="active"><a href="#new_project">Add new project</a></li>
  <li><a href="#all_projects">My Projects</a></li>
  <li><a href="#assign_users">Assign Users</a></li>
</ul>
 
<div class="tab-content">
  <div class="tab-pane active" id="new_project">
    <%= render partial: 'new_project', :locals => { :project => @project } %>
  </div>
  <div class="tab-pane" id="all_projects">
    <% if current_user.projects.any? %>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Project</th>
          <th>Visit Today</th>
          <th>Yesterday</th>
          <th>All Time</th>
        </tr>
        </thead>
        <tbody>
          <% @user.projects.each do |project| %>
            <% unless project.new_record? %>
              <tr>
                <td>
                  <%= project.domain_url %><br>
                  <% if controller.project_owner?(project.id) %>  
                    <%= link_to "Edit Project", edit_project_path(project) %>&nbsp;
                    <%= link_to "Get Tracking Code", tracking_code_for_project_path(project) %>&nbsp;
                    <%= link_to "View Stats Details", project_path(project)%>
                  <% end %>
                </td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="well well-large">
        No projects yet.
      </div>
    <% end %>
  </div>
  <div class="tab-pane" id="assign_users">
    <%= render partial: 'assign_project_users', :locals => { user_list: @user_list } %>
  </div>
</div>
 