<% provide(:title, 'Home') %>

<%if user_signed_in? && is_admin? %>
    <div class="center hero-unit">
        <h1>Welcome!</h1>
    	<h2>Let's manage:</h2>
		<section>
			<%= link_to "Users", users_path, class: "btn btn-large" %>
			<%= link_to "Projects", projects_path, class: "btn btn-large" %>
		</section>
    </div>
<% elsif user_signed_in? && !is_admin? %>
    <div class="center hero-unit">
        <h1>Welcome!</h1>
    	<h2>Let's dive in &mdash;</h2>
    	<%= link_to "View your profile", user_path(current_user), class: "btn btn-large btn-primary" %>
    </div>
<% else %>
    <div class="row">
        <div class="span7">
            <h1>Realtime Tracking Navigation for Websites</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>
                <%= link_to "Sign up now!", new_user_session_path, class: "btn btn-large btn-success" %>
                <%= link_to "Take a tour", '#', class: "btn btn-large" %>
            </p>
        </div>
        <div class="span5">
            <img src="http://placehold.it/520x450" class="img-polaroid">
        </div>
    </div>	
<% end %>