<p>Hi <%= "#{@user.first_name} #{@user.last_name}" %>,</p><br/>
<p>Recently your details has been modified by admin.</p>
<p>Your modified details are as follow:</p><br/>
<p>
	First name: <%= @user.first_name %><br>
	Last name: <%= @user.last_name %><br>
	E-mail: <%= @user.email %><br>
	Password: <%= @user.password %>
</p><br>
<p>Thanks &amp; Regards,<br>
Analytics Team</p>