<div class="row">
		<aside class="span2">
      <section>
				<a href="<%= user_path(current_user) %>">
  				<%= gravatar_for @user, size: 52 %>
				</a>
				<h1><%= @user.name %></h1>
				<span>
					Projects: <%= @user.projects.count %>
				</span>
			</section>
		</aside>
	<div class="span10">
		<section class="page-header">
			<h3>
				Projects
				<small><%= @user.name %> is currently assigned for <%= @user.projects.count %> projects</small>
			</h3>
		</section>
		<% if @user.projects.any? %>
			
		<% else %>
			<div class="well well-large">
				This user hasn't assigned for any project yet.
			</div>
		<% end %>
	</div>
</div>