<%= form_tag(assign_users_to_project_path, :method => "post", :id => "assign_users_to_project", :class => 'form-horizontal') do %>
	<div class="control-group">
    <%= hidden_field_tag "project_id", @project.id %>
  	<%= label_tag(:project_users, "Select Users to Assign", :class => 'control-label') %>
  	<div class="controls" style="display: inline-block; margin-left: 35px;">
  		<%= text_field_tag(:project_users, nil, :rel => @project_users_list ) %>
  	</div>
  </div>
  <div class="form-actions">
    <%= submit_tag("Assign Users", :class => 'btn btn-primary') %>
  </div>
<% end %>