<h2>
  Update Project Details
  <small>
    <p style="display: inline; float: right; font-size: 15px">Go to <a href="<%= dashboard_index_path %>#all_projects">Dashboard</a></p>
  </small>
</h2>
<hr>
<%= form_for(@project, :html => { :class => 'form-horizontal' }, :validate => true) do |f| %>
    <%#= render 'shared/error_messages', :object => p.object %>
    <div class="control-group">
      <%= f.label :name, "Project Name", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :domain_url, "Domain URL", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :domain_url %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit "Update Project" ,:class => 'btn btn-primary'%>
    </div>
<% end %>