<h1>Update Project</h1>
<hr>
<%= form_for(@project) do |p| %>

    <div class="control-group">
      <%= p.label :Name ,:class => 'control-label' %>
      <div class="controls">
      <%= p.text_field :name %>
    </div>
    </div>

    <div class="control-group">
      <%= p.label :Domain ,:class => 'control-label' %>
      <div class="controls">
      <%= p.text_field :domain %>
    </div>
    </div>


    <div class="control-group">
      <%= p.label :Git_URL ,:class => 'control-label' %>
      <div class="controls">
      <%= p.text_field :git_url %>
    </div>
    </div>

    <div class="form-actions">
      <%= p.submit "Update" ,:class => 'btn btn-primary'%>
    </div>
<% end %>