<% if !is_admin? %>
    <small>
      <p style="display: inline; float: right; font-size: 15px">Go to <a href="<%= dashboard_index_path %>#all_projects">Dashboard</a></p>
    </small>
<% end %>
<ul class="nav nav-tabs">
  <li class="active"><a href="#stats">Stats Details</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="stats">
    <h2>Name of the Project: <%= @project.name %></h2>
    <div id="project_total_stat_figures">
      <span>Total Hits: <%= @total_hits %></span>
      <span>Unique Hits: <%= @total_unique_hits %></span>
    </div>
    <% if @results_paginate.any? %>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th>#</th>
          <th>Users Visited</th>
          <th>No. of Hits on Domain</th>
          <th>Last Visit Date</th>
          <th>Graph</th>
        </tr>
        </thead>
        <tbody>
          <% @results_paginate.each_with_index do |row, index| %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= row.split(",")[0] %></td>
            <td><%= row.split(",")[2] %></td>
            <td><%= row.split(",")[1].to_datetime.strftime("%d %b, %Y at %H:%M:%S") + " UTC" %></td>
            <td><%= link_to "View Graph", visitor_behaviour_on_project_path(@project) + "?ip=#{row.split(",")[0]}" %></td>
          </tr>
          <% end %>
          </tbody>
        </table>
    <% else %>
        <div class="well well-big">
          No visits yet.
        </div>
    <% end %>
  </div>
</div>
<%= will_paginate @results_paginate %>
