<h2>
  Project Details
  <small>
    <% if !is_admin? %>
      <p style="display: inline; float: right; font-size: 15px">Go to <a href="<%= dashboard_index_path %>#all_projects">Dashboard</a></p>
    <% end %>
  </small>
</h2>
<table class="table">
  <tr>
    <td><strong>Project Name: </strong></td>
    <td><span><%= @project.name %></span></td>
  </tr>
  <tr>
    <td><strong>Project URL: </strong></td>
    <td><span><%= @project.domain_url %></span></td>
  </tr>
  <tr>
    <td><strong>Total Page Hits: </strong></td>
    <td><span><%= %></span></td>
  </tr>
  <tr>
    <td><strong>Total Unique Page Hits: </strong></td>
    <td><span><%=  %></span></td>
  </tr>
  <tr>
    <td><strong>Total Hits On Whole Domain: </strong></td>
    <td><span><%=  %></span></td>
  </tr>
</table>