<%#= @visit_hour_groups.inspect %>
<h2>Site Navigation by <%= params[:ip] %> </h2>
<hr>
<% @visit_hour_groups.each do |hourly_date, records| %>
	<div>
		<h5><%= hourly_date %></h5>
    <h6><%= records.inspect %></h6>
    <% records.group_by{|i| i.reference_path}.each do |parent, children| %>
      <%= a = children.collect do |child|
          {
            :name => parent,
            :children => child.visit_path
          }
        end.to_json
      %>
    <% end %>
    <% %>
    <div id="chart"></div>
	</div>
<% end %>






<script type="text/javascript">
  var width = 960,
      height = 2200;

  var cluster = d3.layout.cluster()
      .size([height, width - 160]);

  var diagonal = d3.svg.diagonal()
      .projection(function(d) { return [d.y, d.x]; });

  var vis = d3.select("#chart").append("svg")
     .attr("width", width)
     .attr("height", height)
   .append("g")
     .attr("transform", "translate(40, 0)");

  d3.json(<%= @record_json %>, function(json) {
   var nodes = cluster.nodes(json);

   var link = vis.selectAll("path.link")
       .data(cluster.links(nodes))
     .enter().append("path")
       .attr("class", "link")
       .attr("d", diagonal);

   var node = vis.selectAll("g.node")
       .data(nodes)
     .enter().append("g")
       .attr("class", "node")
       .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; })

   node.append("circle")
       .attr("r", 4.5);

   node.append("text")
       .attr("dx", function(d) { return d.children ? -8 : 8; })
       .attr("dy", 3)
       .attr("text-anchor", function(d) { return d.children ? "end" : "start"; })
       .text(function(d) { return d.name; });
  });
</script>