<%#= @visit_hour_groups.inspect %>
<small>
  <p style="display: inline; float: right; font-size: 15px">Go to <a href="<%= dashboard_index_path %>#all_projects">Dashboard</a></p>
</small>
<h2>Site Navigation by <%= params[:ip] %> </h2>
<hr>
<% @json %>
<% @visit_hour_groups.each do |hourly_date, records| %>
	<div>
		<h5><%= hourly_date %></h5>
    <% group = records.group_by{|i| i.tracking_hour} %> 
    <%records.group_by{|i| i.tracking_hour}.each do |i,v| %>
     <% group[i] = v.sort_by(&:created_at) %>
    <% end %>
    <%= group %>
    <hr>
 
      <% group.each do |i,v| %>
          <ul id="org<%= hourly_date%>" style="display:none">
                <li id="<%=i %>">
              <ul> 
               <li> 
        <% v.group_by{|i| i.reference_path}.each do |i,v| %>
      
          <% v.each do |vi|%>
<li id="<%= vi.reference_path%>"><%= vi.visit_path %></li>
          <% end %> 
        </ul>  
        </li>
        <% end %>
        </ul>
       <% end %>   
	</div>
      <script type="text/javascript">
    jQuery(document).ready(function() {
      $("#org<%= hourly_date%>").jOrgChart();
    });
    </script>
<% end %>
