<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a href="<%= root_path %>" id="logo"><i class='icon-eye-open'></i> Navigation Tracker</a>
       <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Features", '#' %></li>
          <% if user_signed_in? %>
            <% if is_admin? %>
              <li><%= link_to "Users", users_path %></li>
              <li><%= link_to "Projects", projects_path %></li>
            <% end %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= "#{current_user.first_name} #{current_user.last_name}" %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to "My Profile", current_user %>
                </li>
                <li>
                  <%= link_to "Edit Profile", edit_user_registration_path %>
                </li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", destroy_user_session_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li>
                <%= link_to "Register", new_user_registration_path %>
            </li>
            <li>
              <%= link_to "Login", new_user_session_path %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>