<h2>You are just few seconds away from registering your sites for tracking</h2>
<hr>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'form-horizontal' }, :validate => true) do |f| %>
  <%#= devise_error_messages! %>
  <div class="control-group">
    <%= f.label :first_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :last_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.email_field :email %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password, :autocomplete => "off" %>
      <span class="help-inline">(Password needs to be alpha numeric, min 8 chars - max 15 chars)</span>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password_confirmation, "Confirm Password", :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password_confirmation %>
      <span class="help-inline">(Password needs to be alpha numeric, min 8 chars - max 15 chars)</span>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit "Register", :class => 'btn btn-primary' %>
    <%= f.submit "Cancel", :class => 'btn' %>
  </div>
<% end %>
